body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #577557;
}

h1 {
  font-size: 32px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 3%;
  margin: 0 auto;
}
section{
  width: 60%;
  margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid black;
    overflow: hidden;
    background-color: #8dad8d;

}
hr{
    background-color: black;
    border: 2px solid black;
    width: 100%;
}
div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.hole {
  background-image: url(./hole.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 12rem;
  height: 12rem;
}

.mole {
  background-image: url(./mole.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 12rem;
  height: 12rem;
}
